[submodule "programs/newSprint"]
	path = programs/newSprint
	url = https://github.com/JakeTrock/newSprint
[submodule "programs/fridgegames"]
	path = programs/fridgegames
	url = https://github.com/JakeTrock/fridgegames
